#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* ---- レイヤー番号は keymap の定義順と一致させる ---- */
#define DEF      0
#define FUNCTION 1
#define NUM      2
#define ARROW    3
#define MOUSE    4
#define SCROLL   5

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        /* BLE全消去：FUNCTION 上だけで誤爆防止 */
        clear_ble_setting {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <11 12>;
            layers = <FUNCTION>;
            timeout-ms = <50>;
        };

        /* 元 "shift_tab" -> 実態は FUNCTION モメンタリ。誤解を避けて mo_function に改名 */
        mo_function {
            bindings = <&mo FUNCTION>;
            key-positions = <33 34>;
            layers = <DEF>;
            timeout-ms = <50>;
        };

        /* 無変換 + レイヤー0復帰：DEF レイヤー限定 + 直前にキー入力があると発火しない */
        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <10 11>;
            layers = <DEF>;
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
        };

        /* " （H+J 付近で誤爆しやすかったので層と idle を絞る）*/
        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
            layers = <DEF>;
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
        };

        /* = （K+L 付近）*/
        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
            layers = <DEF>;
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
        };

        /* ---- 到達できなかったレイヤーへのコンボ入口 ---- */
        to_arrow {
            bindings = <&to ARROW>;
            key-positions = <30 31>;
            layers = <DEF>;
            timeout-ms = <50>;
        };

        to_mouse {
            bindings = <&to MOUSE>;
            key-positions = <31 32>;
            layers = <DEF>;
            timeout-ms = <50>;
        };

        to_scroll {
            bindings = <&to SCROLL>;
            key-positions = <30 32>;
            layers = <DEF>;
            timeout-ms = <50>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC     &kp Q  &kp W      &kp E     &kp R     &kp T               &kp Y          &kp U  &kp I      &kp O       &kp P      &kp DEL     &kp BSPC
&kp TAB     &kp A  &kp S      &kp D     &kp F     &kp G               &kp H          &kp J  &kp K      &kp L       &kp MINUS  &kp ENTER
&kp LSHIFT  &kp Z  &kp X      &kp C     &kp V     &kp B               &kp N          &kp M  &kp COMMA  &kp PERIOD  &kp SLASH  &kp RSHIFT
                   &kp LCTRL  &kp LGUI  &kp LALT  &lt FUNCTION SPACE  &lt NUM SPACE
            >;
        };

        function_layer {
            bindings = <
&bt BT_SEL 0  &kp N1           &kp N2       &kp N3        &kp N4      &kp N5       &kp N6         &kp N7        &kp N8                &kp N9                 &kp N0          &kp DELETE  &kp BACKSPACE
&bt BT_SEL 1  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH      &kp DOLLAR  &kp PERCENT  &kp AMPERSAND  &kp SQT       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE  &kp ENTER
&bt BT_SEL 2  &kp PLUS         &kp MINUS    &kp ASTERISK  &kp SLASH   &kp EQUAL    &kp TILDE      &kp QUESTION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE        &kp RSHIFT
                               &kp LCTRL    &kp LGUI      &kp LALT    &trans       &kp BSPC
            >;
        };

        num_layer {
            bindings = <
&kp ESC     &kp F1       &kp F2     &kp F3             &kp F4         &kp F5          &kp F6         &kp F7          &kp F8          &kp F9           &kp F10    &kp DEL     &kp BSPC
&kp TAB     &kp AT_SIGN  &kp SQT    &kp DOUBLE_QUOTES  &kp SEMICOLON  &kp COLON       &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW    &kp RIGHT        &kp MINUS  &kp ENTER
&kp LSHIFT  &kp Z        &kp X      &kp C              &kp V          &kp B           &kp LC(SPACE)  &kp RG(SPACE)   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp SLASH  &kp RSHIFT
                         &kp LCTRL  &kp LGUI           &kp LALT       &kp UNDERSCORE  &trans
            >;
        };

        arrow_layer {
            bindings = <
&kp ESC     &kp Q  &kp W      &kp E     &kp R     &kp T     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END     &kp P      &kp DEL  &kp BSPC
&kp TAB     &kp A  &kp S      &kp D     &kp F     &kp G     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT   &kp MINUS  &kp ENTER
&kp LSHIFT  &kp Z  &kp X      &kp C     &kp V     &kp B     &kp N      &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &to DEF
                   &kp LCTRL  &kp LGUI  &kp LALT  &to DEF   &to DEF
            >;
        };

        mouse_layer {
            bindings = <
&kp ESC     &kp Q  &kp W      &kp E     &kp R     &kp T     &msc SCRL_UP    &mkp MB1  &mkp MB3   &mkp MB2  &kp P      &kp DEL  &kp BSPC
&kp TAB     &kp A  &kp S      &kp D     &kp F     &kp G     &msc SCRL_DOWN  &mkp MB1  &mkp MB3   &mkp MB2  &kp MINUS  &kp ENTER
&kp LSHIFT  &kp Z  &kp X      &kp C     &kp V     &kp B     &kp N           &kp M     &kp COMMA  &mkp MB1  &mkp MB2   &to DEF
                   &kp LCTRL  &kp LGUI  &kp LALT  &mkp MB1  &to DEF
            >;
        };

        scroll_layer {
            bindings = <
&kp ESC     &kp F1  &kp F2     &kp F3    &kp F4    &kp F5    &msc SCRL_UP    &kp F7  &kp F8     &kp F9      &kp F10    &kp DEL  &kp BSPC
&kp TAB     &kp A   &kp S      &kp D     &kp F     &kp G     &msc SCRL_DOWN  &kp J   &kp K      &kp L       &kp MINUS  &kp ENTER
&kp LSHIFT  &kp Z   &kp X      &kp C     &kp V     &kp B     &kp N           &kp M   &kp COMMA  &kp PERIOD  &kp SLASH  &to DEF
                    &kp LCTRL  &kp LGUI  &kp LALT  &to DEF   &to DEF
            >;
        };
    };
};
